<body>
<header id="header">
    <img src="/images/logo.png" />
    <h1>客官不可以&raquo;中国唯一的秘密搜索引擎&raquo;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    <div class="alignright">
    <input type="text" name="keyword" value="" class="search_box " id="searchwrods" placeholder="客官要点什么" onkeypress="if(event.keyCode==13) {searchwords();return false;}">
    <button class="btn btn-primary "  onclick="searchwords()">搜索&raquo;</button>
    <button class="btn btn-info " onclick="toTop()"> Top </button>
    </div>
</header>

<section id="wrapper">

    <div class="alert alert-dismissable alert-info">
    <hgroup>
        <span class="label label-success">热门标签:</span>
        <% for(var i= 0,len=hots.length;i<len;i++){ var hot = hots[i];%>
        <span class="handcursor margin5 label label-warning" onclick="querywords('<%= hot%>')"><%= hot%></span>
        <%}%>
    </hgroup>
    </div>
    <div class="alert alert-dismissable alert-danger">
    <hgroup><h2>客官你来这里你室友知道吗</h2></hgroup>
    </div>
    <div id="container">
<!-- Baidu Button BEGIN -->
    <% if(iQuery.detail){ %>
    <div id="bdshare" class="gridInner bdshare_t bds_tools_24 get-codes-bdshare" data="{
        'text':'客官不可以',
        'title':'客官不可以',
        'pic':'<%= siteurl %>/images/logo.png',
        'url':'<%= siteurl %>/detail/<%= iQuery.detail.key %>',
        'desc':'<%= iQuery.detail.text %>[客官不可以]'
        }">
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_qzone"></a>
        <a class="bds_douban"></a>
        <a class="bds_renren"></a>
        <span class="bds_more">更多</span>
    </div>
    <% } %>
<!-- Baidu Button END -->
    </div>
    <hgroup><h4 class="aligncenter" id="loading">正在努力加载...</h4></hgroup><br /><br />
    <div class="clearfix"></div>
</section>

<% include bdshare.ejs %>

<footer id="footer">
    <span>客观不可以 &copy; 2014 <a href="<%= siteurl%>">www.sirnot.com</a>. Design by yizhiren. Powered by Node.js</span>
</footer>
</body>